.card__container{
  display: flex;
  flex-direction: column;
  background-color: var(--color-light-blue1);
  border: var(--color-gray) 1px solid;
  border-radius: 5px;
  padding: 2.5rem;
  cursor: pointer;

  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  
  transform: translateZ(0);
  transition: transform .25s ease-out
}

.card__container:hover{
  transform: scale(1.05);
}

.card__container img{
  max-width:100%;
  height:auto
}

@media screen and (max-width:31em){
  .card__container{
    display: block;
    min-width:300px;
    margin:0 auto;
  }
  .card__container img{max-width:150px}
}
@media screen and (max-width:22.5em){
  .card__container{
    width:100%;
    min-width:auto;
  }
}